PORT=5000
MONGO_URI=mongodb+srv://testifyinfoservice_db_user:Testify123@cluster0.id86fzz.mongodb.net/?appName=Cluster0
JWT_SECRET=9f2a7cbb6e2d4a1f9c8e0d7b3a5c6f4e2d1b0a9876543210fedcba0987654321
RAZORPAY_KEY_ID=rzp_test_SA2qi1yc3KgVZH
RAZORPAY_KEY_SECRET=Y3Dh0pC40ffitCgLqicbw8Si
RAZORPAY_WEBHOOK_SECRET=<YOUR_WEBHOOK_SECRET>
GOOGLE_MAPS_API_KEY= AIzaSyDuYqV5_GDPy5U1Bcz-aH27AcCnSRVS304
CORS_ORIGINS= http://localhost:3000,https://testify-main.vercel.app,

# MessageCentral OTP Config
MESSAGECENTRAL_AUTH_TOKEN=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJDLUY4MjQ2M0U3MzAzNzRDNiIsImlhdCI6MTc3MDI3MTY2NiwiZXhwIjoxOTI3OTUxNjY2fQ.Uif7CT3bBfv6ZWQitgX9XKAnZkRB05XC6QHukD0psch1TnCVR3TctBuYoLDxEb34ZqFayPQnvDkR7Ce5WqCRIg
MESSAGECENTRAL_CUSTOMER_ID=C-F82463E730374C6
